<!DOCTYPE html>
<html lang="ja">
    <head>
        <mata charset="utf-8">
        <title>index</title>
        <style>body {padding: 30px;}</style>
    </head>
    <body>
        <h1>skatsumata.com</h1>
        <h2>About me</h2>
            <p>勝股 修平 / Shuhei Katsumata</p>
            <p>新卒でネット広告代理店に入社し新卒採用、中途採用、エンジニア組織の立ち上げ支援を経験。</p>
            <p>その後B2B SaaS提供会社に1人目の人事として入社し、採用の基盤構築や人事制度の設計支援・運用を担当。 </p>
            <p>現在はプロダクトサイドの採用がメイン。  </p>
        <h2>Social Link</h2>
            <a href="https://www.facebook.com/katsumata0514"> Facebook / 勝股修平</a>
            <a href="https://twitter.com/shu_katsumata">Twitter / @shu_katsumata</a>
            <a href="https://twitter.com/skatsumata_dev" >Twitter / @skatsumata_dev</a>
            <a href="https://github.com/perolis">GitHub / perolis </a>
    </body>
</html>
